* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
} 

body{
    padding-top: 1rem;
        
}


 main{
    background-color: #f3f3f3;

} 

header{
    z-index: 99;

}


html{
    background-color: #f3f3f3;
   
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: end;
    gap: 800px;
    border-bottom: 8px solid #e57b72;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 80px;
    top:0;
    
}

.cabecalho-menu{
    display: flex;
    gap: 45px;   
         
}

.logo-menu{
    margin-left: -700px;

}

.nome-1{
    color: #e57b72;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15.5px;
    margin-left: -630px;
    font-weight: bold;
}

.nome-2{
    color: #e57b72;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15.5px;
    font-weight: bold;
}

.nome-3{
    color: #e57b72;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15.5px;
    font-weight: bold;
}

.nome-4{
    color: #e57b72;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15.5px;
    font-weight: bold;
}

.nome-5{
    color: #e57b72;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15.5px;
    font-weight: bold;
}



.principal{
    padding: 10rem;

} 

.galeria {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(4);
    
}

.imgGaleria{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    

}

 .itemGaleria{
    overflow: hidden;
}

.item01{
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
}

.item03{
    grid-column: 3 / span 1;
    grid-row: 1 / span 2; 
}

.item02{
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}  








.informacao {
    margin-top: -12rem;
    border-top: 1px solid #e57b72;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.horario{
    font-size: 15px;
    color: #e57b72;
    font-family: 'IBM Plex Mono', monospace;
    margin-left: -200px;

}

.local{
    font-size: 15px;
    color: #e57b72;
    font-family: 'IBM Plex Mono', monospace;
    margin-left: -200px;
}

.redessociais{
    margin-left: 330px;
    
}

.whats{
    margin: 40px;

}
.insta{
    margin: 40px;

}
.email{
    margin: 40px;
}

.ultimalinha{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    margin-top: 70px;
    font-size: 15px;
    color: #e57b72;
    font-family: 'IBM Plex Mono', monospace;
    
}

footer {
    border-top: 100px solid #f3f3f3;
    background-color: #f3f3f3;
    margin: 50px;
    
}

